In [78]:
import pandas as pd
import re

#Read Data in

file_path = os.path.expanduser('~/Downloads/BusinessAnalyst.xlsx')


df = pd.read_excel(file_path)

#Clean salary and get an estimated average column


def remove_glassdoor_est(salary_str):
    return salary_str.replace(' (Glassdoor est.)', '')


df['Cleaned Salary Estimate'] = df['Salary Estimate'].apply(remove_glassdoor_est)


def process_salary(salary_str):
 
    salary_str = salary_str.replace('$', '').replace('k', '').replace('K', '').replace(' ', '')
    
  
    salary_range = salary_str.split('-')
    

    try:
        if len(salary_range) == 2:
            low_salary = int(re.sub(r'\D', '', salary_range[0]))
            high_salary = int(re.sub(r'\D', '', salary_range[1]))
           
            average_salary = (low_salary + high_salary) / 2
        elif len(salary_range) == 1:
            average_salary = int(re.sub(r'\D', '', salary_range[0]))
        else:
            return None
    except ValueError:
        return None
    
    return average_salary


df['Estimated Average Salary'] = df['Cleaned Salary Estimate'].apply(process_salary)



df = df.dropna(subset=['Estimated Average Salary'])


print(df[['Salary Estimate', 'Cleaned Salary Estimate', 'Estimated Average Salary']].head())

               Salary Estimate Cleaned Salary Estimate  \
0  $56K-$102K (Glassdoor est.)              $56K-$102K
1  $56K-$102K (Glassdoor est.)              $56K-$102K
2  $56K-$102K (Glassdoor est.)              $56K-$102K
3  $56K-$102K (Glassdoor est.)              $56K-$102K
4  $56K-$102K (Glassdoor est.)              $56K-$102K

   Estimated Average Salary
0                      79.0
1                      79.0
2                      79.0
3                      79.0
4                      79.0

In [79]:
#Data cleaning for company name

def clean_company_name(company_name):
    
    company_name = str(company_name)
   
    return re.sub(r'\n\d+.*', '', company_name)


df['Cleaned Company Name'] = df['Company Name'].apply(clean_company_name)
df

,Unnamed: 0,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Easy Apply,Cleaned Salary Estimate,Estimated Average Salary,Cleaned Company Name
0,0,0,Business Analyst - Clinical & Logistics Platform,$56K-$102K (Glassdoor est.),Company Overview\n\n\nAt Memorial Sloan Ketter...,3.9,Memorial Sloan-Kettering\n3.9,"New York, NY","New York, NY",10000+ employees,1884,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),"Mayo Clinic, The Johns Hopkins Hospital, MD An...",-1,$56K-$102K,79.0,Memorial Sloan-Kettering
1,1,1,Business Analyst,$56K-$102K (Glassdoor est.),We are seeking for an energetic and collaborat...,3.8,Paine Schwartz Partners\n3.8,"New York, NY","New York, NY",1 to 50 employees,-1,Company - Private,Venture Capital & Private Equity,Finance,Unknown / Non-Applicable,-1,1,$56K-$102K,79.0,Paine Schwartz Partners
2,2,2,Data Analyst,$56K-$102K (Glassdoor est.),"For more than a decade, Asembia has been worki...",3.6,Asembia\n3.6,"Florham Park, NJ","Florham Park, NJ",501 to 1000 employees,2004,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$5 to $10 million (USD),-1,-1,$56K-$102K,79.0,Asembia
3,3,3,"Information Security Analyst, Incident Response",$56K-$102K (Glassdoor est.),Job Description Summary\nThe Information Secur...,3.6,BD\n3.6,"Franklin Lakes, NJ","Franklin Lakes, NJ",10000+ employees,1897,Company - Public,Health Care Products Manufacturing,Manufacturing,$10+ billion (USD),"Abbott, Siemens, Baxter",-1,$56K-$102K,79.0,BD
4,4,4,Analyst - FP&A Global Revenue,$56K-$102K (Glassdoor est.),Magnite is the world's largest independent sel...,3.4,Rubicon Project\n3.4,"New York, NY","Los Angeles, CA",201 to 500 employees,2007,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"PubMatic, AppNexus, Index Exchange",1,$56K-$102K,79.0,Rubicon Project
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087,4087,4795,Help Desk Analyst,$66K-$114K (Glassdoor est.),Ref ID: 01120-0011488945Classification: Help D...,3.5,Robert Half\n3.5,"Jacksonville, FL","Menlo Park, CA",10000+ employees,1948,Company - Public,Staffing & Outsourcing,Business Services,$2 to $5 billion (USD),"Adecco, Manpower",-1,$66K-$114K,90.0,Robert Half
4088,4088,4796,System Analyst (Data) - PL/SQl Server,$66K-$114K (Glassdoor est.),Job Title: System Analyst (Data) - PL/SQl Serv...,3.9,Diverse Lynx\n3.9,"Jacksonville, FL","Princeton, NJ",501 to 1000 employees,2002,Company - Private,IT Services,Information Technology,$100 to $500 million (USD),-1,-1,$66K-$114K,90.0,Diverse Lynx
4089,4089,4797,Programmer Analyst- PeopleSoft ( Finance and S...,$66K-$114K (Glassdoor est.),Job Opening Summary\nReports to the Systems Ap...,4.0,Shands at the University of Florida\n4.0,"Jacksonville, FL","Gainesville, FL",10000+ employees,-1,Subsidiary or Business Segment,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),"Mount Sinai Medical Center of Florida, Baptist...",-1,$66K-$114K,90.0,Shands at the University of Florida
4090,4090,4798,Loss Mitigation Analyst,$66K-$114K (Glassdoor est.),Job Description\nA knowledgeable job-seeker is...,4.4,Contemporary Staffing Solutions\n4.4,"Jacksonville, FL","Mount Laurel, NJ",1001 to 5000 employees,1994,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"PathFinder Staffing, Juno Search Partners, Rob...",-1,$66K-$114K,90.0,Contemporary Staffing Solutions
4091,4091,4799,Financial Analyst II - Baptist,$66K-$114K (Glassdoor est.),Job Summary\n\nThis unique analyst position re...,2.7,Baptist Medical Center Jacksonville\n2.7,"Jacksonville, FL","Jacksonville, FL",5001 to 10000 employees,-1,Hospital,Health Care Services & Hospitals,Health Care,$1 to $2 billion (USD),-1,-1,$66K-$114K,90.0,Baptist Medical Center Jacksonville

In [80]:
# Replace 1 with "Yes" and -1 with "No" in the "Easy Apply" column
df['Easy Apply'] = df['Easy Apply'].replace({1: 'Yes', -1: 'No'})

print(df[['Easy Apply']].head())

  Easy Apply
0         No
1        Yes
2         No
3         No
4        Yes

In [81]:
import numpy as np

# Replace all -1 values in the entire DataFrame with NaN
df.replace(-1, np.nan, inplace=True)

# Display the first few rows of the DataFrame to verify the results
print(df.head())

   Unnamed: 0  index                                         Job Title  \
0           0      0  Business Analyst - Clinical & Logistics Platform
1           1      1                                  Business Analyst
2           2      2                                      Data Analyst
3           3      3   Information Security Analyst, Incident Response
4           4      4                     Analyst - FP&A Global Revenue

               Salary Estimate  \
0  $56K-$102K (Glassdoor est.)
1  $56K-$102K (Glassdoor est.)
2  $56K-$102K (Glassdoor est.)
3  $56K-$102K (Glassdoor est.)
4  $56K-$102K (Glassdoor est.)

                                     Job Description  Rating  \
0  Company Overview\n\n\nAt Memorial Sloan Ketter...     3.9
1  We are seeking for an energetic and collaborat...     3.8
2  For more than a decade, Asembia has been worki...     3.6
3  Job Description Summary\nThe Information Secur...     3.6
4  Magnite is the world's largest independent sel...     3.4

                    Company Name            Location        Headquarters  \
0  Memorial Sloan-Kettering\n3.9        New York, NY        New York, NY
1   Paine Schwartz Partners\n3.8        New York, NY        New York, NY
2                   Asembia\n3.6    Florham Park, NJ    Florham Park, NJ
3                        BD\n3.6  Franklin Lakes, NJ  Franklin Lakes, NJ
4           Rubicon Project\n3.4        New York, NY     Los Angeles, CA

                    Size  Founded       Type of ownership  \
0       10000+ employees   1884.0  Nonprofit Organization
1      1 to 50 employees      NaN       Company - Private
2  501 to 1000 employees   2004.0       Company - Private
3       10000+ employees   1897.0        Company - Public
4   201 to 500 employees   2007.0        Company - Public

                             Industry                     Sector  \
0    Health Care Services & Hospitals                Health Care
1    Venture Capital & Private Equity                    Finance
2           Biotech & Pharmaceuticals  Biotech & Pharmaceuticals
3  Health Care Products Manufacturing              Manufacturing
4                            Internet     Information Technology

                      Revenue  \
0      $2 to $5 billion (USD)
1    Unknown / Non-Applicable
2     $5 to $10 million (USD)
3          $10+ billion (USD)
4  $100 to $500 million (USD)

                                         Competitors Easy Apply  \
0  Mayo Clinic, The Johns Hopkins Hospital, MD An...         No
1                                                NaN        Yes
2                                                NaN         No
3                            Abbott, Siemens, Baxter         No
4                 PubMatic, AppNexus, Index Exchange        Yes

  Cleaned Salary Estimate  Estimated Average Salary      Cleaned Company Name
0              $56K-$102K                      79.0  Memorial Sloan-Kettering
1              $56K-$102K                      79.0   Paine Schwartz Partners
2              $56K-$102K                      79.0                   Asembia
3              $56K-$102K                      79.0                        BD
4              $56K-$102K                      79.0           Rubicon Project

In [82]:
# We want job title, Estimated Average Salary, Job Description top words, rating, Location, Size, 
new_df = df[['Estimated Average Salary', 'Rating', 'Cleaned Company Name', 'Location', 'Size', 'Sector', 'Easy Apply']]

#Verify data is ready to be visualized and manipulated
#new_df['Rating'].value_counts()
#new_df['Cleaned Company Name'].value_counts()
#new_df['Location'].value_counts()
#new_df['Size'].value_counts()
new_df['Easy Apply'].value_counts()

Easy Apply
No     3958
Yes     134
Name: count, dtype: int64

In [83]:
# Function to split the "Location" column into "City" and "State"
def split_location(location):
    parts = location.split(', ')
    if len(parts) == 2:
        return parts[0], parts[1]
    else:
        return None, None

# Apply the function to the "Location" column and create new columns
new_df['City'], new_df['State'] = zip(*new_df['Location'].apply(split_location))

# Drop the original "Location" column
new_df = new_df.drop(columns=['Location'])

C:\Users\zpicard\AppData\Local\Temp\ipykernel_21616\4003133883.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['City'], new_df['State'] = zip(*new_df['Location'].apply(split_location))
C:\Users\zpicard\AppData\Local\Temp\ipykernel_21616\4003133883.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['City'], new_df['State'] = zip(*new_df['Location'].apply(split_location))

In [85]:
#Grab data analyst roles from Texas only
texas = new_df.loc[new_df['State'] == 'TX']

,Estimated Average Salary,Rating,Cleaned Company Name,Size,Sector,Easy Apply,City,State
975,65.0,4.2,Sunnova,201 to 500 employees,"Oil, Gas, Energy & Utilities",Yes,Houston,TX
976,65.0,4.6,G&A Partners,201 to 500 employees,Business Services,No,Houston,TX
977,65.0,2.5,"Quorum Business Solutions, Inc.",501 to 1000 employees,Information Technology,No,Houston,TX
978,65.0,2.5,"Quorum Business Solutions, Inc.",501 to 1000 employees,Information Technology,No,Houston,TX
979,65.0,4.0,TC Energy,5001 to 10000 employees,"Oil, Gas, Energy & Utilities",No,Houston,TX
...,...,...,...,...,...,...,...,...
3687,80.5,3.1,Tista Science and Technology Corporation,501 to 1000 employees,Business Services,No,Austin,TX
3688,80.5,5.0,"Staffigo Technical Services, LLC",51 to 200 employees,Information Technology,No,Austin,TX
3689,80.5,NaN,"Suncap Technology, Inc.",NaN,NaN,No,Austin,TX
3690,80.5,3.5,LPL Financial,1001 to 5000 employees,Finance,No,Austin,TX
3691,80.5,3.4,TEXAS DEPARTMENT OF PUBLIC SAFETY,1001 to 5000 employees,Government,No,Austin,TX

In [87]:
import os

# Define the path to the Downloads folder and the file name
downloads_folder = os.path.expanduser('~/Downloads')
file_name = 'BA_texas_data.csv'
file_path = os.path.join(downloads_folder, file_name)

# Save the DataFrame to an Excel file
texas.to_csv(file_path, index=False)

print(f"DataFrame saved to {file_path}")

DataFrame saved to C:\Users\zpicard/Downloads\BA_texas_data.csv